@charset "UTF-8";

/*-----------------------------------------------------------
reset.css
-----------------------------------------------------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:where([hidden]:not([hidden='until-found'])) {
    display: none !important
}

:where(html) {
    -webkit-text-size-adjust: none;
    color-scheme: dark light
}

@supports not (min-block-size:100dvb) {
    :where(html) {
        block-size: 100%
    }
}

@media (prefers-reduced-motion:no-preference) {
    :where(html:focus-within) {
        scroll-behavior: smooth
    }
}

:where(body) {
    block-size: 100%;
    block-size: 100dvb;
    line-height: 1.5;
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased
}

:where(input, button, textarea, select) {
    font: inherit;
    color: inherit
}

:where(textarea) {
    resize: vertical;
    resize: block
}

:where(button, label, select, summary, [role='button'], [role='option']) {
    cursor: pointer
}

:where(:disabled) {
    cursor: not-allowed
}

:where(label:has(>input:disabled), label:has(+input:disabled)) {
    cursor: not-allowed
}

:where(button) {
    border-style: solid
}

:where(a) {
    text-underline-offset: .2ex
}

:where(ul, ol) {
    list-style: none
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block
}

:where(img, picture, svg) {
    max-inline-size: 100%;
    block-size: auto
}

:where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word
}

:where(h1, h2, h3) {
    line-height: calc(1em + 0.5rem)
}

:where(hr) {
    border: none;
    border-block-start: 1px solid;
    color: inherit;
    block-size: 0;
    overflow: visible
}

:where(:focus-visible) {
    outline: 2px solid var(--focus-color, Highlight);
    outline-offset: 2px
}

:where(.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden)) {
    clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    border: 0 !important
}

/*--------------------------
bass.css 
--------------------------*/

/* ガイド線 */
/* * {outline: 1px solid #f00;} */

/* 全体にかけるもの */

/* =========================
header
============================*/

/* ヘッダーメニュー部分 */

.header {
    background-color: #6ad1c8;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    opacity: 0.8;
    z-index: 300;
    border-bottom: 5px solid #EDFFEB;
}
/* 左上ロゴマークの位置・装飾 */
h1 a img {
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: #6ad1c8 1px 2px 1px;
    width: 7%;
    border: 5px solid #fff;
    top: 5px;
    left: 10px;
    z-index: 500;
}
/* 左上ロゴマークをホバーした時 */
h1 a img:hover {
    background-color: #EDFFEB;
}

/* navの並び方 */
.pc-menu {
    display: flex;
    gap: 20px;
}
.pc-menu ul {
    position: absolute;
    top: -15px;
    right: 0;
    display: flex;
    padding: 0 1%;
    text-align: center;
}
.pc-menu ul li {
    display: inline-block;
    margin: 5% 5px 0 5px;
    border-bottom: 5px solid #6ad1c8;
    list-style: none;
    /* z-index: 200; */
}
/* navの文字部分 */
.pc-menu ul li a {
        display: block;
        color: #087b76;
        font-family: "beloved-script", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
    }
    
/* 文字の大きさ*/
.pc-menu ul li a ruby {
        font-size: 2rem;
        -webkit-text-stroke: 1px #087b76; /* フチの太さと色 */
}

/* rubyの上文字部分 */
ruby rt {
    font-size: 0.7rem; /* 少し小さく */
    color: #087b76; /* 少し薄い色 */
    -webkit-text-stroke: 0px #087b76; /* フチの太さと色 */
    margin-top: 0.25rem;
    text-align: center;
}

/* マウスを持ってきたときの動作 */
.pc-menu ul li:hover {
    background: #d9faee;
    border-radius: 0 0 10px 10px;
    opacity: 0.9;
    /* transform: translateY(-8px); */
    /* border-radius: 20px; */
    box-shadow: 1px 2px 3px rgba(23, 39, 53, 0.15);
}

/* ハンバーガーメニューを非表示 */
.hamburger {
    display: none;
}

/* スマホ用navを非表示 */
.menu {
    display: none;
}

/* ----------------
アイキャッチ
------------------- */

/* eyeキャッチ全体の場所指定 */
.eye-catch {
    margin-top: -60px;
}

/* eyeキャッチ画像のサイズ */
.img-kappa-top {
    max-width: 100%;
    height: auto;
    margin: 2% 0 0 0;
    padding: 0;
    display: block;
    transform: translateY(1px);
}

/*---------------------------------
アイキャッチ画像svgのアニメーション 
-----------------------------------*/
/* 目※normal→マウスを乗せるとwinkする */
#eye-normal {
    display: block;
}
#eye-wink {
    display: none;
}

/* 波部分流れるようにする */
.wave {
    animation: waveMove 10s linear infinite;
}

@keyframes waveMove {
    0% {transform: translateX(0);}
    100% {transform: translateX(-1000px);}
}

/* 文字※最初はHiからスタート */
#hart {
    display: none;
}
#welcome {
    display: none;
}
#Hi {
    display: block;
}

/* 背景切り替え※青→緑→ピンクの順番 */
#back-ck-blue {
    display: block;
}

#back-ck-green {
    display: none;
}
#back-ck-pink {
    display: none;
}

/* 右手の動作 */
@keyframes waveHand {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(10deg);}
    100%{transform: rotate(0deg);}
}

#right-hand-2 {
    transform-origin: bottom center;
    animation: waveHand 2s ease-in-out infinite;
    will-change: transform;
}

/* 星が回る */
@keyframes spin {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}

.star {
    transform-box: fill-box;
    transform-origin: center;
    animation: spin 4s linear infinite;
}

/* ===================
ポートフォリオ
======================= */

/* main全体 */
main .main-text {
    max-width: 100%;
    height: auto;
    margin: 0 10%;
}

/* portfolio文字の装飾 */
h2 {
    width: 100%;
    padding: 10% 10%;
    text-align: center;
    font-family: "beloved-script", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #6ad1c8;
    -webkit-text-stroke: 1px #fff; /* フチの太さと色 */
    font-size: 300%;
    background-color: #6ad1c8;
}
/* ルビの小さい文字 */
h2 ruby rt {
    font-size: 0.6rem; /* 少し小さく */
    color: #fff; /* 白 */
    letter-spacing: 0.2em; /* 文字の間隔 */
    margin-top: 2%;
    text-align: center;
}
/* p全体の文字用に */
p {
    margin: 10% auto;
}

/* ポートフォリオ用のサイトの装飾 */
h3 {
    padding: auto;
    margin-left: auto;
    margin-bottom: 5%;
    margin-top: 30%;
    font-size: 200%;
    color: #6ad1c8;
    -webkit-text-stroke: 1px #6ad1c8; /* フチの太さと色 */
    text-align: left;
    font-family: "beloved-script", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: relative;
}

h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15%;
    width: 100%;
    height: 5px;
    background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
    background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
}

/* ==========================
架空自作サイトの一覧の装飾
============================= */
.portfolio-3col ul {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
}

.portfolio-3col ul li {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 10%;
    margin: 0 5% 0 0;
    position: relative;
}
.portfolio-3col ul li a {
    width: 100%;
    height: auto;
    margin: 30% auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.portfolio-3col ul li a img{
    padding: 10%;
    margin: 20%;
    border: 1px #6ad1c8 solid;
    border-radius: 30px;
}
.portfolio-3col ul li a img:hover {
    background-color: #d9faee;
    opacity: 0.8;
}

/* ===================
フッター
====================== */

/*フッター部分の実装*/
.footer {
    width: 100%;
    height: auto;
    padding: 3% 10%;
    background-color: #6ad1c8;
}

.footer p {
    width: 100%;
    height: auto;
    padding: 10% auto;
}

.copy-p {
    text-align: center;
}

/*===================
フッタープロフ装飾
=====================*/
.plofile {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5% auto;
}

.plofile img {
    display: block;
    width: 100px;
    height: auto;
    margin: auto;
    border-radius: 50%;
}

.plofile p {
    font-size: 14px;
    text-align: justify;
    margin: auto 3%;
}
/* ------------------
クリックで上に戻る
--------------------- */
/* top */
.top {
    position: fixed;
    bottom: 10px;
    right: 10%;
    width: 44px;
    height: 44px;
    background:rgb(129, 224, 178);
    opacity: 0.8;
    border-radius: 50%;
}

.top p a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Secular One', sans-serif;
    color: #fff;
}
/* =======================
index.htmlのスマホ用ページ
========================== */

@media screen and (max-width: 768px) {
    
    /* 全体 */
    body {
            max-width: 100vh;
            height: auto;
            margin: 0;
            padding: 0;
    }
    .header {
        /* background: none; */
        border-bottom: none;
    }

    /* アイキャッチ */
    .eye-catch {
        margin: auto;
    }

    /* 背景の位置 */
    .background {
        transform-box: fill-box;
        transform-origin: center;
        transform: translateY(-10px);
    }
    /* アイキャッチ画像全体の位置 */
    .character {
        transform-box: fill-box;
        transform-origin: center;
        transform: translateY(50px);
    }

    /*=====================
    ハンバーガーメニュー 
    =======================*/
    
    .pc-menu {
        display: none;
    }
    .hamburger {
        display: block;
        position: fixed;
        top: 20px;
        right: 10px;
        z-index: 1000;
    }

    /* navの装飾・配置 */
    .menu {
    display: none;
    }
    .portfolio {
        width: 100%;
        height: auto;
        padding: 30% 10%;
        text-align: center;
        font-family: "beloved-script", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #6ad1c8;
        -webkit-text-stroke: 1px #fff; /* フチの太さと色 */
        font-size: 44px;
        background-color: #6ad1c8;
    }
    
    /*ハンバーガーがクリックされたら右からスライド*/
    .open .menu {
    display: block;
    width: 100%; /* 出てくるスライドメニューの幅 */
    height: 100vh;
    right: -100px;
    margin: auto;
    padding: 30%;
    background-color: #d9faee;
    opacity: 1;
    transition: all 3s;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
    z-index: 700;
    }
    /* 
black-bg(ハンバーガーメニュー解除用bg)
=================================== */
.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #6ad1c8;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
    }

    /*ハンバーガーメニューが開いたら表示*/
    .open .black-bg {
    opacity: 0.2;
    visibility: visible;
    }

    /* ハンバーガーメニューの装飾 */
    .hamburger_line {
    position: absolute;
    width: 30px;
    height: 3px;
    right: 0;
    background-color: #6ad1c8;
    transition: all 0.5s;
    }
    /* 三本線の装飾 */
    .hamburger_line1 {
    top: 1px;
    }
    .hamburger_line2 {
    top: 10px;
    }
    .hamburger_line3 {
    top: 20px;
    }

    /* クリックされたら */
    .open .hamburger_line1 {
    transform: rotate(-45deg);
    top: 11px;
    }
    .open .hamburger_line2 {
    opacity: 0;
    }
    .open .hamburger_line3 {
    transform: rotate(45deg);
    top: 11px;
    }

    /* portfolio 架空サイトの装飾 */
        .portfolio-3col ul li {
        display: inline-block;
        width: 10%;
        height: 10%;
        margin: 0 5% 0 0;
        /* background: #d9faee; */
        border-radius: 30%;
    }
    
    /* footer */
    .plofile {
        display: flex;
        justify-content: space-between;
    }
    .plofile img {
        width: 40%;
    }
    .plofile p{ 
        text-align: center;
    }

    /* slickの設定 */
    .section {
        margin: 6% 10% 3%;
    }

} 

/*===============================
profileページの装飾
==================================*/

.plofile-main {
    display: block;
    margin: 10%;
    text-align: center;
}
.plofile-main h3 {
    margin: 10% auto;
    font-size: 300%;
}

.plofile-main img {
    display: inline-block;
    width: 30%;
    height: auto;
    margin: 10%;
}

.plofile-main dt {
    width: 100%;
    height: 100%;
    padding: 5%;
    margin: 1% auto;
    background: #dcf9ed;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.plofile-main dd {
    border: 1px solid #dcf9ed;
    padding: 10%;
    margin: 0 0 10% 0;
    text-align: justify;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

}

/* =========================
start時にフルスクリーン
=========================== */
.start {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9000;
    opacity: 0.9;
}

.start p {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999;
    width: 30%;
}

/* =====================
slickのcss 
======================*/
.slick {
    /* .slick-slider {
        width: 100%;
    } */
    .slick-prev:before,
    .slick-next:before {
        color: #fff;
    }
    .slick-prev {
        left: 0;
        z-index: 1;
    }
    
    .slick-next {
        right: 0;
        z-index: 2;
    }
}

/*===================
scrollのcss 
====================*/
.fade-in {
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity, transform;
}

.fade-in-up {
    transform: translate(0 50px);
}

.scroll-in {
    opacity: 1;
    transform: translate(0.0);
}